.button {
  background-color: #5AAFCC !important;
  width: 50%;
  margin-left: 25%;
}

.button:hover, .button:active{
  background-color: #43A4C4 !important;
}

#drawer header {
  background-color: #7ABFD6 !important;
}


.loadableSemester:hover, .loadableSemester:active, .loadableSemester:focus{
  background-color: #B87777 !important;
}

.loadableSemester{
  list-style-type: none !important;
  background-color: #C48B8B !important;
  font-size: 20px;
  color: #FEFFEB;
  border-radius: 10px;
  margin-top: 7px;
  width: 80%;
  padding: 10px;
  text-align: center;
  vertical-align: center;
}

#loadDialog{
  overflow: scroll;
}