.gradeInput {
  width: 20% !important;
  margin-left: 15px !important;
  margin-bottom: 5px !important;;
  margin-top: 10px !important;;
}

.button {
  background-color: #919191 !important;
}

#count{
  margin-top: 10px;
}

.button:hover, .button:active{
  background-color: grey !important;
}

#drawer header {
  background-color: #7ABFD6 !important;
}

#indexes {
  display: none;
  position: absolute;
  font-size: 14px !important;
  left: 30%;
  top: 60px;
}

.tableTitle{
  padding-right: 10px !important;
}

#kki, #ki {
  float:right;
}

#clearFields{
  display: none;
}